h1{
    text-align: center;
    background-color: orange;
}
h3{
    text-align: center;
}
h5{
    text-align: center;
}
h2{
    background-color: bisque;
    text-align: center;
}
h4{
    text-align: center;   
}
body{
    background-color: rgb(63, 175, 138);
}

